body{
display: flex;
flex-direction: column;
align-items:center;
/*justify-content: center;*/
height: 100vh;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-weight: 400;
color:#fff;
background:hsl(257, 40%, 49%);
background-image:url('images/bg-desktop.svg');
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size:42px;
  margin-bottom: 0px;
}

p{
  line-height: 30px;
  margin-bottom:30px;
}

button{
  padding:20px 25px;
  font-size:16px;
  border:none;
  background:#fff;
  border-radius: 50px;
  width:200px;
  color:hsl(257, 40%, 49%);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

button:hover{
  color:#fff;
  background: hsl(300, 69%, 71%);
  cursor: pointer;
}

#MainContainer{

}

#ContentContainer{
  padding:60px;
}

#Logo{
  margin-bottom:50px;
}

/* Flex Box */

#FlexContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#TextContent{
  padding:40px 60px;
}


/* Footer */

#Footer{
  float:right;
}

#Footer i{
  margin:7px;
  padding:9px;
  border:1px solid #fff;
  border-radius: 50px;
  width:14px;
  height: 14px;
  text-align: center;
}

#Footer i:hover{
  border:1px solid hsl(300, 69%, 71%);
  color:hsl(300, 69%, 71%);
  cursor: pointer;
}

/* Mobile */

@media only screen and (max-width: 1024px) {

  body{
    background-image:url('images/bg-mobile.svg');
    background-repeat: no-repeat;
  }

  h1{
    font-size: 22px;
  }

  #ContentContainer{
    padding:20px;
  }

  #Logo{
    margin:0px 0px 10px 0px;
  }

  #Logo img{
    width:30%;
  }

  #ProductImage{
    width:100%;
  }

  #ProductImage img{
    width: 100%;
    padding:20px 0px;
  }

  #FlexContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #TextContent{
    padding:20px 4px;
    text-align: center;
  }


  #Footer{
    text-align: center;
    float: none;
  }

}
